body {
  background: white;
  font-family: verdana;
}
.new-user {
  background: lavender;
  margin: 10px auto;
  padding: 3px 36px;
  width: 380px;
  font-size: 16px;
  border: 1px solid #e3e3e3;
  border-radius: 16px;
}
h2 {
  color: #555;
  margin-bottom: 19px;
}

label,
input {
  display: block;
  margin: 10px 0;
}
label {
  color: #777;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 16px !important;
  border: 1px solid #ddd;
  padding: 6px;
  border-radius: 10px;
  width: 100%;
}
input[type="submit"] {
  margin: 24px auto 10px auto;
  font-size: 14px;
  background: #04aa6d;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
}
.error {
  color: red;
}
select {
  font-size: 16px !important;
  margin: 6px 20px;
  padding: 6px 2px 6px 2px;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  transition: all 150ms ease;
  color: #5a667f;
}

/* .expireMM {
  box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: all 375ms ease-in-out;
} */
.last-contain {
  display: flex;
  justify-content: space-between;
}
